@using TpWeb.Models
@model EnseignantDTO;
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form asp-controller="Enseignant" asp-action="Index" method="get">

        <h3>Selectionnez un Cégep</h3>

        <select name="nomCegep" id="nomCegep" onchange="submit();">

            @foreach(CegepDTO cegep in ViewBag.ListeCegeps)
            {
                if(ViewBag.nomCegep == @cegep.Nom)
                {
                    <option value=@cegep.Nom selected>@cegep.Nom</option>
                }
                else
                {
                    <option value=@cegep.Nom>@cegep.Nom</option>
                }
            }
        </select>
    </form>

    <form asp-controller="Enseignant" asp-action="Index" method="get">

        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">

        <h3>Selectionnez un Departement</h3>

        <select name="nomDepartement" id="nomDepartement" onchange="submit();">

            @foreach(DepartementDTO departement in ViewBag.ListeDepartements)
            {

                    if(ViewBag.nomDepartement == @departement.Nom)
                    {
                        <option value=@departement.Nom selected>@departement.Nom</option>
                    }
                    else
                    {
                        <option value=@departement.Nom>@departement.Nom</option>
                    }
            }
        </select>
    </form>

    <br>
    <h3>Liste des Enseignant(s) (@ViewBag.ListeEnseignant.Length Enseignant(s)) :</h3>
    <br>

    <form asp-area="" asp-controller="Enseignant" asp-action="ViderListeEnseignant" method="post">
        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">
        <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement">
        <input id="vidation" onclick="if(confirm('Voulez vous?')){submit();}" type="button" value="Vider liste Enseignant">
    </form>

    <script>
        if(@ViewBag.ListeEnseignant.Length==0){
            document.getElementById('vidation').style.display = "none";
        }
    </script>

    <form asp-area="" asp-controller="Enseignant" asp-action="" method="get">

    <table>
        <tbody><tr>
            <th>No employe</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">
        <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement">
        <input type="hidden" id="noEnseignant" name="noEnseignant">
        @foreach (EnseignantDTO enseignant in ViewBag.ListeEnseignant)
        {<tr>
                <td>@enseignant.NoEmploye</td>
                <td>@enseignant.Nom</td>
                <td>@enseignant.Prenom</td>
                <td><input onclick="document.getElementById('noEnseignant').value = '@enseignant.NoEmploye'; this.form.action='/Enseignant/FormModifier'; this.form.method='get'; submit();" type="button" value="Modifier"></td>
                <td><input onclick="if(confirm('vraiment?')){document.getElementById('noEnseignant').value = '@enseignant.NoEmploye'; this.form.action='/Enseignant/SupprimerEnseignant'; this.form.method='post'; submit();}" type="button" value="Supprimer"></td>
        </tr> }
        </tbody>
     </table>

     </form>

    <br />
    <h3>Ajouter un Enseignant</h3>
    <br />

    <form asp-controller="Enseignant" asp-action="AjouterEnseignant" method="post">
         <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep"/>
         <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement"/>
        <table>
            <tbody><tr>
                <td><label asp-for="NoEmploye"></label></td>
                <td> <input asp-for="NoEmploye">  </td>
            </tr>
            <tr>
                <td> <label asp-for="Nom"></label></td>
                <td>  <input asp-for="Nom"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Prenom"></label></td>
                <td> <input asp-for="Prenom"> </td>
            </tr>
        </tbody></table>
        <input type="submit" value="Ajouter">
    </form>
}