@using TpWeb.Models
@model CoursDTO;
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form asp-controller="Cours" asp-action="Index" method="get">

        <h3>Selectionnez un Cégep</h3>

        <select name="nomCegep" id="nomCegep" onchange="submit();">

            @foreach(CegepDTO cegep in ViewBag.ListeCegeps)
            {
                if(ViewBag.nomCegep == @cegep.Nom)
                {
                    <option value=@cegep.Nom selected>@cegep.Nom</option>
                }
                else
                {
                    <option value=@cegep.Nom>@cegep.Nom</option>
                }
            }
        </select>
    </form>

    <form asp-controller="Cours" asp-action="Index" method="get">

        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">

        <h3>Selectionnez un Departement</h3>

        <select name="nomDepartement" id="nomDepartement" onchange="submit();">

            @foreach(DepartementDTO departement in ViewBag.ListeDepartements)
            {

                    if(ViewBag.nomDepartement == @departement.Nom)
                    {
                        <option value=@departement.Nom selected>@departement.Nom</option>
                    }
                    else
                    {
                        <option value=@departement.Nom>@departement.Nom</option>
                    }
            }
        </select>
    </form>

    <br>
    <h3>Liste des Cour(s) (@ViewBag.ListeCours.Length Cour(s)) :</h3>
    <br>

    <form asp-area="" asp-controller="Cours" asp-action="ViderListeCours" method="post">
        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">
        <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement">
        <tr>
            <th>No</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        <input id="vidation" onclick="if(confirm('Voulez vous?')){submit();}" type="button" value="Vider liste Cours">
    </form>

    <script>
        if(@ViewBag.ListeCours.Length==0){
            document.getElementById('vidation').style.display = "none";
        }
    </script>

    <form asp-area="" asp-controller="Cours" asp-action="" method="get">

    <table>
        <tbody>
        <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep">
        <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement">
        <input type="hidden" id="nomCours" name="nomCours">
        @foreach (CoursDTO cours in ViewBag.ListeCours)
        {<tr>
                <td>@cours.No</td>
                <td>@cours.Nom</td>
                <td>@cours.Description</td>
                <td><input onclick="document.getElementById('nomCours').value = '@cours.Nom'; this.form.action='/Cours/FormModifier'; this.form.method='get'; submit();" type="button" value="Modifier"></td>
                <td><input onclick="if(confirm('Voulez vous?')){document.getElementById('nomCours').value = '@cours.Nom'; this.form.action='/Cours/supprimerCours'; this.form.method='post'; submit();}" type="button" value="Supprimer"></td>
           </tr> }
        </tbody>
     </table>

     </form>


     <br />
    <h3>Ajouter un Cours</h3>
    <br />

    <form asp-controller="Cours" asp-action="AjouterCours" method="post">
         <input type="hidden" name="nomCegep" value="@ViewBag.nomCegep"/>
         <input type="hidden" name="nomDepartement" value="@ViewBag.nomDepartement"/>
        <table>
            <tbody><tr>
                <td><label asp-for="No"></label></td>
                <td> <input asp-for="No">  </td>
            </tr>
            <tr>
                <td> <label asp-for="Nom"></label></td>
                <td>  <input asp-for="Nom"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Description"></label></td>
                <td> <input asp-for="Description"> </td>
            </tr>
        </tbody></table>
        <input type="submit" value="Ajouter">
    </form>
}